.robobox {
    background-color: #9eebcf;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    transition: transform 0.25s ease-in-out;
    border-width: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.robobox:hover {
    transform: scale(1.05);
}
